 body {
     font: 400 15px Lato, sans-serif;
     line-height: 1.8;
     color: #818181;
 }
 
 h2 {
     font-size: 24px;
     text-transform: uppercase;
     color: #303030;
     font-weight: 600;
     margin-bottom: 30px;
 }
 
 h4 {
     font-size: 19px;
     line-height: 1.375em;
     color: #303030;
     font-weight: 400;
     margin-bottom: 30px;
 }
 
 .responsive {
     width: 100%;
     height: auto;
 }
 
 .navbar {
     margin-bottom: 0;
     background-color: white;
     z-index: 9999;
     border: 0;
     font-size: 14px !important;
     line-height: 1.42857143 !important;
     letter-spacing: 2px;
     border-radius: 0;
     font-family: bahnscript, sans-serif;
     float: right !important;
     padding: 10px 10px 10px 10px;
     box-shadow: 10px 5px 5px #f2f3f5;
 }
 
 .navbar li a,
 .navbar .navbar-brand {
     color: black !important;
 }
 
 .navbar-nav li a:hover,
 .navbar-nav li.active a {
     color: white !important;
     background-color: blue !important;
 }
 
 .navbar-default .navbar-toggle {
     border-color: transparent;
     color: #fff !important;
 }
 
 .header {
     background-image: url("assest/header.png");
     color: black;
     padding: 100px 25px;
     font-family: sans-serif;
     background-repeat: no-repeat;
     background-size: cover;
 }
 
 .bg-grey {
     background-color: #f6f6f6;
 }
 
 .logo-small {
     color: red;
     font-size: 50px;
 }
 
 .logo {
     color: #459ef7;
     font-size: 300px;
 }
 
 .thumbnail {
     padding: 0 0 15px 0;
     border: none;
     border-radius: 0;
 }
 
 .thumbnail img {
     width: 100%;
     height: 100%;
     margin-bottom: 10px;
 }
 
 .panel {
     border: 1px solid #459ef7;
     border-radius: 0 !important;
     transition: box-shadow 0.5s;
 }
 
 .panel:hover {
     box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
 }
 
 .panel-footer .btn:hover {
     border: 1px solid #459ef7;
     background-color: #fff !important;
     color: #f4511e;
 }
 
 .panel-heading {
     color: #fff !important;
     background-color: #459ef7 !important;
     padding: 25px;
     border-bottom: 1px solid transparent;
     border-top-left-radius: 0px;
     border-top-right-radius: 0px;
     border-bottom-left-radius: 0px;
     border-bottom-right-radius: 0px;
 }
 
 .slideanim {
     visibility: hidden;
 }
 
 .slide {
     animation-name: slide;
     -webkit-animation-name: slide;
     animation-duration: 1s;
     -webkit-animation-duration: 1s;
     visibility: visible;
 }
 
 @keyframes slide {
     0% {
         opacity: 0;
         transform: translateY(70%);
     }
     100% {
         opacity: 1;
         transform: translateY(0%);
     }
 }
 
 @-webkit-keyframes slide {
     0% {
         opacity: 0;
         -webkit-transform: translateY(70%);
     }
     100% {
         opacity: 1;
         -webkit-transform: translateY(0%);
     }
 }
 
 @media screen and (max-width: 768px) {
     .col-sm-4 {
         text-align: center;
         margin: 25px 0;
     }
     .btn-lg {
         width: 100%;
         margin-bottom: 35px;
     }
 }
 
 @media screen and (max-width: 480px) {
     .logo {
         font-size: 150px;
     }
 }
 
 footer {
     position: fixed;
     bottom: 0;
 }
 
 @media (max-height:800px) {
     footer {
         position: static;
     }
     header {
         padding-top: 40px;
     }
 }
 
 .footer-distributed {
     background-color: #2c292f;
     box-sizing: border-box;
     width: 100%;
     text-align: left;
     font: bold 16px sans-serif;
     padding: 50px 50px 60px 50px;
     margin-top: 80px;
 }
 
 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right {
     display: inline-block;
     vertical-align: top;
 }
 
 .footer-distributed .footer-left {
     width: 30%;
 }
 
 .footer-distributed h3 {
     color: #ffffff;
     font: normal 36px 'Cookie', cursive;
     margin: 0;
 }
 
 .footer-distributed .footer-left img {
     width: 30%;
 }
 
 .footer-distributed h3 span {
     color: #e0ac1c;
 }
 
 .footer-distributed .footer-links {
     color: #ffffff;
     margin: 20px 0 12px;
 }
 
 .footer-distributed .footer-links a {
     display: inline-block;
     line-height: 1.8;
     text-decoration: none;
     color: inherit;
 }
 
 .footer-distributed .footer-company-name {
     color: #8f9296;
     font-size: 14px;
     font-weight: normal;
     margin: 0;
 }
 
 .footer-distributed .footer-center {
     width: 35%;
 }
 
 .footer-distributed .footer-center i {
     background-color: #33383b;
     color: #ffffff;
     font-size: 25px;
     width: 38px;
     height: 38px;
     border-radius: 50%;
     text-align: center;
     line-height: 42px;
     margin: 10px 15px;
     vertical-align: middle;
 }
 
 .footer-distributed .footer-center i.fa-envelope {
     font-size: 17px;
     line-height: 38px;
 }
 
 .footer-distributed .footer-center p {
     display: inline-block;
     color: #ffffff;
     vertical-align: middle;
     margin: 0;
 }
 
 .footer-distributed .footer-center p span {
     display: block;
     font-weight: normal;
     font-size: 14px;
     line-height: 2;
 }
 
 .footer-distributed .footer-center p a {
     color: #e0ac1c;
     text-decoration: none;
     ;
 }
 
 .footer-distributed .footer-right {
     width: 30%;
 }
 
 .footer-distributed .footer-company-about {
     line-height: 20px;
     color: #92999f;
     font-size: 13px;
     font-weight: normal;
     margin: 0;
 }
 
 .footer-distributed .footer-company-about span {
     display: block;
     color: #ffffff;
     font-size: 18px;
     font-weight: bold;
     margin-bottom: 20px;
 }
 
 .footer-distributed .footer-icons {
     margin-top: 25px;
 }
 
 .footer-distributed .footer-icons a {
     display: inline-block;
     width: 35px;
     height: 35px;
     cursor: pointer;
     background-color: #33383b;
     border-radius: 2px;
     font-size: 20px;
     color: #ffffff;
     text-align: center;
     line-height: 35px;
     margin-right: 3px;
     margin-bottom: 5px;
 }
 
 @media (max-width: 880px) {
     .footer-distributed .footer-left,
     .footer-distributed .footer-center,
     .footer-distributed .footer-right {
         display: block;
         width: 100%;
         margin-bottom: 40px;
         text-align: center;
     }
     .footer-distributed .footer-center i {
         margin-left: 0;
     }
 }